<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MicroServeses</title>

</head>

<body>


<form action=""  method="post">
    <br>
    <div>
        <label for="date">Date/time:</label>
        <input type="datetime-local" id="date"
               name="date" value="2018-06-12T19:30"
               min="2018-06-07T00:00" max="2018-06-14T00:00" />
    </div>
    <br>
Movie Id:<br>
 <input type="text" class="form_control"  name="mid" id="mid">
 <br>
    <br>
     <div>
     <br>
   <label for="file">Choose Url to desierd DB</label>
   <input type="file" id="file" name="db" single accept=".db">
 </div>
    <br>
Table Name:<br>
 <input type="text" class="form_control"  name="tn" value="{{tn}}">#}
 <br>
 <input type="submit" value="Submit">
</form>
</body>
</html>