<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>


<form action=""  method="post">
    ID OF MOVIE TO REMOVE :<br>

 <input type="text" class="form_control"  name="title" value="{{request.form.mid}}">
 <br>

    <br>
     <div>
     <br>
   <label for="file">Choose Url to desierd DB</label>
   <input type="file" id="file" name="db" single accept=".db">
 </div>
    <br>
Table Name:<br>
 <input type="text" class="form_control"  name="tn" value="{{tn}}">#}
 <br>

 <input type="submit" value="Submit">
</form>
</body>
</html>